test/test_util.py
test/test.ipynb
test/spectral.ipynb
test/__pycache__/test_util.cpython-39.pyc
__pycache__/task4_util.cpython-39.pyc
__pycache__/task4_util_segmentation.cpython-39.pyc
bolus
res1.png
res2.png
res3.png
res4.png
res5.png
